{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
  <!-- Page Header Start -->
  <div class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2> تسجيل الدخول </h2>
        </div>
        <div class="col-12">
         {% if error %}
              <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
  <!-- Page Header End -->

  <!-- Contact Start -->
  <div class="contact wow fadeInUp">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="contact-form">
            <div id="success"></div>

            
            <form name="sentMessage" id="contactForm" novalidate="novalidate" action="{{ path('app_login') }}" method="post">
              <div class="control-group">
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" placeholder="الاسم واللقب" required="required" data-validation-required-message="الاسم واللقب" />
                <p class="help-block text-danger"></p>
              </div>
              <div class="control-group">
                <input class="form-control" type="password" id="password" name="_password" placeholder="كلمة المرور" required="required" data-validation-required-message="كلمة المرور" />
                <p class="help-block text-danger"></p>
              </div>
              <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
              <div>
                <button class="btn" type="submit" id="sendMessageButton">تسجيل الدخول</button>
                <p>ليس لدي تساب ؟ <a href="{{ path('app_register') }}">أنشأه من هنا</a></p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact End -->
{% endblock %}
