<!DOCTYPE html>
<html lang="ar" dir="auto">
  <head>
    <meta charset="utf-8" />
    <title>
      {% block title %}
        متابعة تنفيذ الصفقات العمومية !
      {% endblock %}
    </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Construction Company Website Template" name="keywords" />
    <meta content="Construction Company Website Template" name="description" />

    {% block stylesheets %}
      <!-- Favicon -->
      <link href="{{ asset('build/img/favicon.ico') }}" rel="icon" />

      <!-- Google Font -->
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />
      <!-- CSS Libraries -->
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
      {{ encore_entry_link_tags('app') }}
    {% endblock %}
  </head>

  <body>
    {% block body %}
    {% endblock %}

    {% block javascripts %}
      <script src="{{ asset('https://code.jquery.com/jquery-3.4.1.min.js') }}"></script>
      <script src="{{ asset('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js') }}"></script>
      {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <!-- JavaScript Libraries -->
  </body>
</html>
