{% extends 'base.html.twig' %}

{% block body %}
	<!-- Page Header Start -->
	<div class="page-header">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<h2>فضاء المواطن</h2>
				</div>
				<div class="col-12">
					<a href="">الاستقبال</a>
					<a href="">فضاء المواطن</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Page Header End -->

	<!-- Single Post Start -->
	<div class="single">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="comment-form wow fadeInUp">
						<h2>فضاء المواطن</h2>

						{% if suivits is not defined %}

							<table>
								<tr>
									<td>
										{% for label, messages in app.flashes %}
											{% for message in messages %}
												<div class="flash-{{ label }}">
													{{ message }}
												</div>
											{% endfor %}
										{% endfor %}
									</td>
									<td></td>
								</tr>
								{{ form_start(form) }}
								<tr>
									<div class="form-group">{{ form_label(form.nature, 'طبيعة الصفقة') }}
										{{ form_widget(form.nature, { attr: { class: 'form-control', id: 'suivit_filter_operation' } }) }}
										{{ form_errors(form.nature) }}</div>
								</tr>
								<tr>
									<div class="form-group">
										<td>{{ form_label(form.avis.vars.prototype.operation, 'موضوع الصفقة') }}</td>
										<td>
											{{ form_widget(form.avis.vars.prototype.operation) }}
											{{ form_errors(form.avis.vars.prototype.operation) }}</td>
									</div>
								</tr>
								<tr>
									<div class="form-group">
										<td>{{ form_label(form.avis.vars.prototype.note) }}</td>
										<td>
											{{ form_widget(form.avis.vars.prototype.note) }}
											{{ form_errors(form.avis.vars.prototype.note) }}</td>
									</div>
								</tr>
								<tr>
									<div class="form-group">
										<td>{{ form_label(form.avis.vars.prototype.defaux) }}</td>
										<td>
											{{ form_widget(form.avis.vars.prototype.defaux) }}
											{{ form_errors(form.avis.vars.prototype.defaux) }}</td>
									</div>
								</tr>
								<tr>
									<div class="form-group">
										<td>{{ form_label(form.avis.vars.prototype.danger) }}</td>
										<td>
											{{ form_widget(form.avis.vars.prototype.danger) }}
											{{ form_errors(form.avis.vars.prototype.danger) }}</td>
									</div>
								</tr>

								<tr>
									<td>
										<div class="form-group">
											<td>{{ form_row(form.submit, { attr: { class: 'btn btn-primary' } }) }}</td>
										</div>
									</td>
								</tr>
								{{ form_end(form) }}
							</table>
						{% else %}
							<table class="table">
								<thead>
									<tr>
										<th>Id</th>
										<th>Nature</th>
										<th>Sujet</th>
										<th>Cout</th>
										<th>Proprietaire</th>
										<th>Debut</th>
										<th>Fin</th>
										<th>JourDeRetard</th>
										<th>CauseRetard</th>
										<th>DateCauseResiliation</th>
										<th>DateValidationFinal</th>
										<th>actions</th>
									</tr>
								</thead>
								<tbody>
									{% for suivit in suivits %}
										<tr>
											<td>{{ suivit.id }}</td>
											<td>{{ suivit.nature }}</td>
											<td>{{ suivit.sujet }}</td>
											<td>{{ suivit.cout }}</td>
											<td>{{ suivit.proprietaire }}</td>
											<td>{{ suivit.debut ? suivit.debut|date('Y-m-d') : '' }}</td>
											<td>{{ suivit.fin ? suivit.fin|date('Y-m-d') : '' }}</td>
											<td>{{ suivit.jourDeRetard }}</td>
											<td>{{ suivit.causeRetard }}</td>
											<td>{{ suivit.dateCauseResiliation }}</td>
											<td>{{ suivit.dateValidationFinal ? suivit.dateValidationFinal|date('Y-m-d') : '' }}</td>
											<td></td>
										</tr>
									{% else %}
										<tr>
											<td colspan="12">no records found</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Single Post End -->
{% endblock %}
