{% extends 'base.html.twig' %}

{% block title %}
  Suivit index
{% endblock %}

{% block body %}
  <!-- Page Header Start -->
  <div class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>متابعة تنفيذ الصفقات العمومية</h2>
        </div>

        <div class="col-12">
          <a href="">الاستقبال</a>
          <a href="">متابعة تنفيذ الصفقات العمومية</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Header End -->

  <!-- Single Post Start -->
  <div class="single">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="comment-form wow fadeInUp">
            <h2>متابعة تنفيذ الصفقات العمومية</h2>

            {{ form_start(form) }}
            <table class="table">
              <tbody>
                <tr>
                  <th>{{ 'Nature'|trans }}</th>
                  <td>{{ form_widget(form.nature, {'required': false}) }}</td>
                </tr>
                <tr>
                  <th>{{ 'Sujet'|trans }}</th>
                  <td>{{ form_widget(form.sujet, {'required': false}) }}</td>
                </tr>
                <tr>
                  <th>{{ 'Cout'|trans }}</th>
                  <td>{{ form_widget(form.cout, {'required': false}) }}</td>
                </tr>
                <tr>
                  <th>{{ 'Proprietaire'|trans }}</th>
                  <td>{{ form_widget(form.proprietaire, {'required': false}) }}</td>
                </tr>
                <tr>
                  <th>{{ 'Debut'|trans }}</th>
                  <td>{{ form_widget(form.debut, {'required': false}) }}</td>
                </tr>
                <tr>
                  <th>{{ 'Fin'|trans }}</th>
                  <td>{{ form_widget(form.fin, {'required': false}) }}</td>
                </tr>
                <tr>
                  <th>{{ 'JourDeRetard'|trans }}</th>
                  <td>{{ form_widget(form.jourDeRetard, {'required': false}) }}</td>
                </tr>
                <tr>
                  <th>{{ 'CauseRetard'|trans }}</th>
                  <td>{{ form_widget(form.causeRetard, {'required': false}) }}</td>
                </tr>
                <tr>
                  <th>{{ 'DateCauseResiliation'|trans }}</th>
                  <td>{{ form_widget(form.dateCauseResiliation, {'required': false}) }}</td>
                </tr>
                <tr>
                  <th>{{ 'DateValidationFinal'|trans }}</th>
                  <td>{{ form_widget(form.dateValidationFinal, {'required': false}) }}</td>
                </tr>
              </tbody>
            </table>
                <button class="btn">{{ button_label|default('filtrer', {'required': false}) }}</button>

            {{ form_end(form) }}

            <table class="table">
              <thead>
                <tr>
                  <th>{{ 'Nature'|trans }}</th>
                  <th>{{ 'Sujet'|trans }}</th>
                  <th>{{ 'Cout'|trans }}</th>
                  <th>{{ 'Proprietaire'|trans }}</th>
                  <th>{{ 'Debut'|trans }}</th>
                  <th>{{ 'Fin'|trans }}</th>
                  <th>{{ 'JourDeRetard'|trans }}</th>
                  <th>{{ 'CauseRetard'|trans }}</th>
                  <th>{{ 'DateCauseResiliation'|trans }}</th>
                  <th>{{ 'DateValidationFinal'|trans }}</th>
                  <th>{{ 'actions'|trans }}</th>
                </tr>
              </thead>
              <tbody>
                {% for suivit in suivits %}
                  <tr>
                    <td>
                      {% if suivit.nature == 1 %}
                        أشغال
                      {% elseif suivit.nature == 2 %}
                        دراسة
                      {% elseif suivit.nature == 3 %}
                        تزود بخدمات
                      {% endif %}
                    </td>
                    <td>{{ suivit.sujet }}</td>
                    <td>{{ suivit.cout }}</td>
                    <td>{{ suivit.proprietaire }}</td>
                    <td>{{ suivit.debut ? suivit.debut|date('Y-m-d') : '' }}</td>
                    <td>{{ suivit.fin ? suivit.fin|date('Y-m-d') : '' }}</td>
                    <td>{{ suivit.jourDeRetard }}</td>
                    <td>{{ suivit.causeRetard }}</td>
                    <td>{{ suivit.dateCauseResiliation }}</td>
                    <td>{{ suivit.dateValidationFinal ? suivit.dateValidationFinal|date('Y-m-d') : '' }}</td>
                    <td>
                      <a href="{{ path('app_suivit_show', { id: suivit.id }) }}">{{ 'show'|trans }}</a>
                      {# <a href="{{ path('app_suivit_edit', { id: suivit.id }) }}">edit</a> #}
                    </td>
                  </tr>
                {% else %}
                  <tr>
                    <td colspan="12">no records found</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Single Post End -->
{% endblock %}
